.side-nav{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    top:70px;
    left:0px;
    bottom:0px;
    width:80px;
    background-color: white;
}
.icon-buttons{
    height: 40px;
    width: 40px;
    margin-bottom: 30px;
}